@import url("https://fonts.googleapis.com/css?family=Maven+Pro:400,500,700,900");
@import url("https://fonts.googleapis.com/css?family=Cabin:700");

.career {
    font-family: "Maven Pro", sans-serif;
    color: #a8a8a8;
    background-color: #0c0c11;
    -webkit-tap-highlight-color: rgba(85, 80, 80, 0.2);
    width: 100%;
    height: auto;
    min-height: 100vh;
    padding-top: 10vh;
    padding-bottom: 10vh;
}

.timeline {
    width: 70%;
    border-radius: 6px;
    background-color: #171823;
}


@media (max-width: 768px) {
    .career {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .timeline {
        width: 90%;
    }
}

.career-title {
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.career-link {
    transition: all 0.2s ease-in-out;
    color: #17ff3e;
}
.career-link:hover, .career-link:focus {
    text-decoration: none;
    color: #17ff3e;
}

.sectionHeading {
    margin-bottom: 20px;
    color: #17ff3e;
}

::-moz-selection {
    background: #a8a8a8;
    background: rgba(224, 224, 224, 0.2);
    text-shadow: none;
}

::selection {
    background: #a8a8a8;
    background: rgba(224, 224, 224, 0.2);
    text-shadow: none;
}

.career-image::-moz-selection {
    background: transparent;
}

.career-image::selection {
    background: transparent;
}

.career-image::-moz-selection {
    background: transparent;
}

.shadow-nohover {
    box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
    transition: box-shadow 0.28s cubic-bezier(0.4, 0, 0.2, 1);
}

@-webkit-keyframes animatop {
    0% {
        opacity: 0;
        bottom: -500px;
    }
    100% {
        opacity: 1;
        bottom: 0px;
    }
}

@keyframes animatop {
    0% {
        opacity: 0;
        bottom: -500px;
    }
    100% {
        opacity: 1;
        bottom: 0px;
    }
}
@-webkit-keyframes rotatemagic {
    0% {
        opacity: 0;
        transform: rotate(0deg);
        top: -24px;
        left: -253px;
    }
    100% {
        transform: rotate(-30deg);
        top: -24px;
        left: -78px;
    }
}
@keyframes rotatemagic {
    0% {
        opacity: 0;
        transform: rotate(0deg);
        left: -253px;
    }
    100% {
        transform: rotate(-30deg);
        top: -24px;
        left: -78px;
    }
}
h3 {
    margin: 20px 0;
}

.experience {
    border-left: 3px solid #17ff3e;
    padding: 0 30px;
    margin-left: 185px;
}
@media (max-width: 767px) {
    .experience {
        margin-left: 0;
        padding-right: 0;
    }
}
.experience .item {
    position: relative;
}
.experience .item::before {
    content: "";
    position: absolute;
    left: -43px;
    top: 0;
    width: 22px;
    height: 22px;
    border-radius: 50%;
    background: #000000;
    border: 3px solid #17ff3e;
}
.experience .item::after {
    content: "";
    position: absolute;
    left: -37px;
    top: 6px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #17ff3e;
}
.experience .company-name {
    color: #a8a8a8;
}
.location {
    position: absolute;
    right: 0;
    top: 2px;
}
.location .fa {
    margin-right: 8px;
}
.job-info {
    position: absolute;
    left: -185px;
    top: 0;
}
.job-info .title {
    color: #17ff3e;
}
@media (max-width: 767px) {
    .experience .job-info {
        position: static;
        margin-bottom: 1rem;
    }
}

.career-txt {
    margin-top: 10px;
}