
h1 {
    font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto;
    color: whitesmoke;
    font-size: 4rem;
}

hr {
    margin: 30px;
}

.menu-img {
    width: 810px;
    height: 459px;
}

.writeup-section-content, .writeup-presentation {
    text-align: center;
    z-index: 99;
}

.writeup-section-content img {
    max-width: 100%;
    width: 50vw;
    height: auto;
    max-width: 100% !important;
}

.writeup-img {
    max-width: 100%;
    height: auto;
    max-width: 100% !important;
}

.writeup-text {
    text-align: left;
    color: #cccaca;
    font-size: 1.80rem;
    margin: 3rem 0 3rem;
}

.writeup-command {
    text-align: left;
    color: #17ff3e;
    font-family: 'Ubuntu', sans-serif;
    font-size: 2.5rem;
    margin: 40px;
}

@media screen and (max-width:600px) {
    h1 {
        font-size: 2.5rem;
    }

    .menu-img {
        width: 382.5px;
        height: 216.75px;
    }

    .ignite-img {
        width: 10px;
        height: auto;
    }
}

.tag-button {
    --background: #191e25;
    --shadow: 0 2px 8px -1px rgba(21, 25, 36, .32);
    --text: #fff;
    --font-size: 16px;
    padding: 16px 32px;
    font-family: 'Ubuntu', sans-serif;
    line-height: var(--font-size);
    border-radius: 24px;
    border: none;
    cursor: pointer;
    text-decoration: none;
    font-size: var(--font-size);
    letter-spacing: 0.5px;
    background: var(--background);
    color: var(--text);
    box-shadow: var(--shadow);
    -webkit-appearance: none;
}













* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #1d1e20;
    color: #fff;
}



main {
    max-width: 1000px;
    margin: 20px auto;
    padding: 50px;
}

.wt-section {
    margin-bottom: 40px;
}

h2 {
    font-size: 24px;
    margin-bottom: 10px;
}



/* Styles spécifiques pour la version responsive */
@media (max-width: 768px) {
    main {
        padding: 10px;
    }

    .wt-section {
        padding: 20px;
    }

    code {
        max-width: 100%;
    }
}


ul li {
    position: relative;
    left: 2rem;
}

code {
    background-color: #2e2e33;
    border-radius: 4px;
    padding: 5px;
    overflow-x: auto;
    display: inline-block;
    color: #c8c8c8;
    font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
    font-size: 1.70rem;
    max-width: 100%;
}

.shell-response {
    white-space: pre;
    padding-left: 2rem;
    padding-right: 2rem;
}

.challenge-answer {
    font-size: 2rem;
}
.challenge-answer span {
    font-style: italic;
}

p a {
    color: white;
}

.ignite-img {
    width: 375px;
    height: auto;
}